{% extends "base.html" %}

{% block content %}

<!-- main container -->
<div class="container-fluid">

    <!-- Visualisation of results -->
    <center><h3><b>Wyniki prognozy modelu AR</b></h3></center>

    <div class="row">

        <!-- left column -->
        <div class="w-50 pb-5 pt-3">
            <img class="rounded mx-auto d-block" width="70%" src="/static/{{data.forecast_plot}}">
        </div>

        <!-- right column -->
        <div class="w-50 pb-5 pt-5">
            <!-- results -->
            <table class="table">
                <tbody>
                  <tr>
                    <td>Kryterium doboru rządu predykcji</td>
                    <td>{{data.ic}}</td>
                  </tr>
                  <tr>
                    <td>Rząd predykcji</td>
                    <td>{{data.lag}}</td>
                  </tr>
                  <tr>
                    <td>Ilość trenowanych obserwacji</td>
                    <td>{{data.tobs}}</td>
                  </tr>
                  <tr>
                    <td>Wartość RMSE - błędu średniokwadratowego</td>
                    <td>{{data.rmse}}</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>

</div>

{% endblock  %}