{% extends "base.html" %}

{% block content %}

<!-- main container -->
<div class="container-fluid">

    <!-- Visualisation of results -->
    <center><h3><b>Wyniki prognozy metodą ARIMA</b></h3></center>

    <div class="row">

        <!-- left column -->
        <div class="w-50 pb-5 pt-3">
            <img class="rounded mx-auto d-block" width="70%" src="/static/{{data.forecast_plot}}">
        </div>

        <!-- right column -->
        <div class="w-50 pb-5 pt-5">
            <!-- results -->
            <table class="table">
                <tbody>
                  <tr>
                    <td>Ilość trenowanych obserwacji</td>
                    <td>{{data.tobs}}</td>
                  </tr>
                  <tr>
                    <td>Parametr p</td>
                    <td>{{data.ar}}</td>
                  </tr>
                  <tr>
                    <td>Parametr d</td>
                    <td>{{data.i}}</td>
                  </tr>
                  <tr>
                    <td>Parametr q</td>
                    <td>{{data.ma}}</td>
                  </tr>
                  <tr>
                    <td>Błąd prognozy modelu według kryterium AIC</td>
                    <td>{{data.aic}}</td>
                  </tr>
                  <tr>
                    <td>Błąd prognozy modelu według kryterium BIC</td>
                    <td>{{data.bic}}</td>
                  </tr>
                  <tr>
                    <td>Błąd prognozy modelu według kryterium HQIC</td>
                    <td>{{data.hqic}}</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>

</div>

{% endblock  %}