{% extends "base.html" %}

{% block content %}

<!-- main container -->
<div class="container-fluid">

    <center><h3 class="pb-5">Prześlij plik z szeregiem czasowym</h3></center>

    <!-- uploading file form -->
    <div class="row justify-content-center h-100">
        <form action = "http://localhost:5000/upload" method = "POST" enctype = "multipart/form-data">
            <input class="form-control-file" id = "fileInput" type = "file" name = "file" accept = ".csv"/ style='width:30em'>
            <input class="form-control mt-3 btn-info" id = "submitFile" type = "submit"/ disabled>
        </form>
    </div>

    <!-- JS script, that prevents pressing upload, where there is no file choosen -->
    <script>
        document.getElementById("fileInput").onchange = function() {
            if(this.value) {
                document.getElementById("submitFile").disabled = false; 
            }  
        }
    </script>

</div>

{% endblock  %}